/* ---- reset ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
  font:normal 75% Arial, Helvetica, sans-serif;
  /* background: linear-gradient(60deg, rgba(0, 255, 87, 1), rgba(0, 255, 163, 0.51)); */
  /* background: url("/resources/bg.png"); */
  background: url('https://source.unsplash.com/1600x900/?music/1920x1080');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#menu {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 20px;
  background: transparent;
  /* border: 2px solid white; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

#menu .burger {
  position: absolute;
  height: 3px;
  width: 20px;
  border-radius: 10px;
  background: white;
  transition: all 0.5s ease-in-out;
}

#menu .burger::before,
#menu .burger::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 20px;
  border-radius: 10px;
  background: white;
  transition: all 0.5s ease-in-out;
}

#menu .burger::before {
  transform: translateY(7px);
}

#menu .burger::after {
  transform: translateY(-7px);
}

#menu.open .burger{
  background: rgba(0, 255, 87, 1);
}
#menu.open .burger::before {
  background: rgba(0, 255, 87, 1);
  transform: rotate(45deg) scaleX(50%) translate(-8px, 8px);
}
#menu.open .burger::after {
  background: rgba(0, 255, 87, 1);
  transform: rotate(-45deg) scaleX(50%) translate(-8px, -8px);
}
#menu img {
  position: absolute;
  padding: 10px;
  width: 30px;
  height: 30px;
}

.tracker {
  position: absolute;
  width: 200px;
  height: 90vh;
  left: 10px;
  top: 10px;
  /* border: 1px solid #FFFFFF; */
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding: 50px 20px;
  transform: translateX(-250px);
  transition: 0.5s ease-in-out;
  z-index: 1;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  background: rgba(255,255,255, 0.02);
  backdrop-filter: blur(50px);
  overflow-y:scroll;
}

.cover {
  width: 100%;
  height: 100%;
  background-size: 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/resources/bg.png');
  transition: all 0.5s linear;
}

.track:hover .cover {
  animation: rotateCover 3s linear infinite running;
}

@keyframes rotateCover {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
  
}

.song {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.track {
  padding: 5px 5px;
  background: inherit;
  width: 100%;
  height: 15%;
  margin: 10px 10px 10px 0px;
  border-radius: 10px;
  box-shadow: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* SLider effect */
.tracker.translate{
  transform: translateX(0px);
}

.container {
  min-height: 80vh;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 500px;
}

.media-container {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  align-self: center;
  /* border: 5px solid #FFFFFF; */
  /* filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5)); */
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  border-radius: 25px;
  margin: 20px;
  background: rgba(255,255,255, 0.02);
  backdrop-filter: blur(15px);
}

@keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}

/* .album::before {
  content: '';
  position: absolute;
  background: rgb(255, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
} */
.album {
  position: relative;
  background-color: rgba(185, 185, 153, 0.02) ;
  background: url("/resources/wave.svg");
  background-size: 200%;
  background-position: center;
  background-repeat: repeat-x;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 100%;
  /* border: 2px solid #FFFFFF; */
  /* background: ; */
  box-shadow: inherit;
  backdrop-filter: blur(10px);
  animation: animatedBackground 5s linear infinite;
  animation-play-state: paused;
  /* transform: translateZ(150px); */
  /* transform: perspective(10000px) translateZ(10px); */
  /* transition: transform 100ms linear; */
  /* filter: drop-shadow(5px 5px 2px 10px rgba(0, 0, 0, 0.2)); */
}

.album img {
  transform: translateZ(150px);
}

/* .album div {
  background-position: center;
  background-repeat: repeat-x;
  position: absolute;
  background: url("/resources/wave.svg");
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
  animation: animatedBackground 5s linear infinite;
  animation-play-state: paused;
} */

.progressbar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 100px;
  margin: 20px;
  cursor: pointer;
}
.progressback {
  width: 100%;
  height: 6px;
  border-radius: 100px;
  box-shadow: inherit;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,1);
  /* border: 2px solid #FFFFFF; */
  position: absolute;
  z-index: -1;
}

.progressfor {
  position: absolute;
  width: 0%;
  height: 6px;
  border-radius: 100px;
  /* border: px solid red; */
  background-color: rgba(0, 255, 163, 1);
  box-shadow: 0.5px 0.5px 010px 0.5px grey;
  position: relative;
  z-index: 0;
}


.play-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 8px;
  margin-top: 15px;
  border: 1px;
  border-color: white;
  background: transparent;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  background: rgba(255,255,255, 0.05);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-position: center;
}

.play-btns .previous {
  background-image: url("/resources/Previous.svg");
  transform: translateZ(1000px);
  position: relative;
}

.play-btns .play{
  background-image: url("/resources/Play.svg");
}

.play-state {
  animation-play-state: running !important;
}

.play-btns .pause {
  background-image: url("/resources/Pause.svg");
}

.play-btns .next {
  background-image: url("/resources/Next.svg");
}

.time {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.song-name {
  color: white;
}